@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  text-align: center;
  margin: 0 auto;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  background-color: #3e54a3;
  box-sizing: border-box;
}
